<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/output.css" rel="stylesheet" />
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
    <script src="/reload/reload.js"></script>
  </head>
  <body class="bg-zinc-800 flex flex-col min-h-screen">
    <%- include('header.ejs') %>
    <main class="flex-1">Hello</main>
    <%- include('footer.ejs') %>
  </body>
</html>
