<div class="p-16 bg-green-600 rounded-lg shadow-lg">
  <h7 class="text-white">Nested 3</h7>
  <form
    hx-put="/state/age"
    hx-target="#birthDate"
    hx-swap="innerHTML"
    class="bg-slate-800 p-8 rounded-lg"
  >
    <div class="w-full">
      <label
        for="age"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Your age</label
      >
      <input
        type="text"
        id="age"
        name="age"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="24"
        required
      />
    </div>
    <button
      type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded max-w-xs mt-4 disabled:opacity-50 disabled:cursor-not-allowed"
    >
      <span>Update</span>
    </button>
  </form>
</div>
