<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/output.css" rel="stylesheet" />
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
    <script src="/reload/reload.js"></script>
  </head>
  <body class="bg-zinc-600">
    <div class="flex p-20 flex-col">
      <form
        hx-post="/todos/create"
        hx-target="#todos"
        hx-swap="afterbegin"
        class="w-full max-w-xl m-auto flex flex-col items-end"
      >
        <div class="w-full">
          <label
            for="todo"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >What to do?</label
          >
          <input
            type="text"
            id="todo"
            name="todo"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Maker dinner"
            required
          />
        </div>
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded max-w-xs mt-4"
        >
          Create
        </button>
      </form>
      <h3 class="text-white font-bold text-lg mt-6 m-auto w-full max-w-xl">
        My todos
      </h3>
      <ul
        hx-get="/todos"
        hx-trigger="load"
        id="todos"
        class="text-white m-auto mt-2 w-full max-w-xl"
      ></ul>
    </div>
  </body>
</html>
